.friendList {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  margin-bottom: 5px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 10px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  border-radius: 5px;
  margin: 5px;
}

.name {
  margin-left: 10px;
}
